/* BODY */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #000000;
    color: #fff;
}

/* NAV    */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e0e0;
    padding: 10px;
}

.logo-img {
    width: 300px;
}

.LogoCliquable{
    background: transparent;
}

a {
    padding: 10px 20px;
    background-color: black;
    color: aliceblue;
    text-decoration: none;
}

a:hover {
  /* une transition de 100ms pour être smooth*/
  transition: 100ms;
  /* Agrandit de 8% */
  transform: scale(1.08);
}

h3 {
    margin: 0;
    color: #000000;
}

/* C'est la partie titre*/
/* JSP pourquoi mais je ne peux pas justify content center toute la div */
h1{
    display: flex;
    justify-content: center;
}

.Titre p{
    display: flex;
    justify-content: center;
    font-size: 120%;
}

/* C'est juste les lignes */
.LigneGrise{
    padding: 1%;
    background-color: #fff;
}

/* C'est pour me faire un colum avec les explications*/
.LoisExplications{
    display: flex;
    flex-direction: column;
}
 /* C'est pour avoir l'image, nom et l'explication en row*/
.ImageNomExplication{
    display: flex;
    flex-direction: row;
}

/* JPP faire .ImageNomExplication h2,p parce que le h2 de "Voici les plus grandes lois et théorèmes du spatiale !" se met aussi avec*/
.ImageNomExplication p{
margin-left: 5%;
}

/* marge pour Kepler et "Loi des orbites, Loi des aires et Loi des périodes" */
.ImageNomExplication h2{
margin-left: 5%;
}

/*ajouter la colonne grise après l'img */
.ImageNomExplication img{
border-right: 10px solid rgb(255, 255, 255);
/* minimum de l'image pour avoir un alignement*/
min-width: 30%;

}

/*ajouter la colonne grise après mon text */
.Nom {
padding-right: 1%;
border-right: 10px solid rgb(255, 255, 255);
/*pour aligner les colonnes grises avec un minimum de taille*/
min-width: 15%;
}


/* C'est la partie théorie préférée */

/* La Div ThéoriePréférée met tout au centre et ne pas oublier de mettre h2, p et non la div car sinon il n'accepte pas le column en div*/
.TheoriePreferee h2, p{
    display: flex;
    justify-content: center;
}



/* C'est pour avoir les 2 images cotes à côtes */
.TrouNoirVer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ImagesCentres{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.TrouNoirVer img{
    width: 30%;
    height: 30%;
}






/* le lien YT */
.LienYT{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

iframe{
    width: 70%;
    height: 600px;
}




/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e0e0;
    padding: 10px 20px;
    color: black;
    font-family: Arial, sans-serif;
}